apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  oidc.azure.clientSecret: REPLACE_WITH_YOUR_AZURE_CLIENT_SECRET
